.arrow {
  /* background-color: blue; */
  background-color: transparent;
  border: none;
  flex: 1;
  width: 75px;
}

.arrow > div:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.arrow:focus {
  outline:0;
}

.arrow:hover svg {
  fill: blue;
}
  
.right > div {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.right > div:active {
  -webkit-transform: scaleX(-1) translateY(2px);
  transform: scaleX(-1) translateY(2px);
}
