.arrow {
  background-color: transparent;
  border: none;
  flex: 1;
  width: 75px;
}

.arrow:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.arrow:focus {
  outline:0;
}

.left {}
  
.right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.right:active {
  -webkit-transform: scaleX(-1) translateY(2px);
  transform: scaleX(-1) translateY(2px);
}

.arrow:hover svg {
  fill: blue;
  /* stroke: blue; */
  /* stroke-width: 1px; */
}
