.arrow {
  background-color: transparent;
  /* background-color: blue; */
  border: none;
  display: flex;
  flex: 1;
  padding: 0;
  width: 100%;
}

.arrow:active > div {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.arrow:focus {
  outline:0;
}

.arrow:hover svg {
  fill: blue;
}
  
.right > div {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

button.right:active > div {
  -webkit-transform: scaleX(-1) translateY(2px);
  transform: scaleX(-1) translateY(2px);
}
