.elbowControls {
  left: 140px;
  position: absolute;
  top: 105px;
}

.elbowControls svg {
  transform: rotateX(10deg) rotateY(60deg);
}

.elbowControls .right {
  transform: translateY(15px);
}

.elbowControls .right svg {
  transform: rotateX(-10deg) rotateY(60deg);
}
